<p-menubar [model]="items" id="navbar">
    <ng-template pTemplate="start">
        E & C
    </ng-template>
</p-menubar>

<!--Hero section-->
<section class="hero overlay">
    <div class="background-img" style="background: url('https://ik.imagekit.io/0sin2owk1ts/tr:w-0.4/banner.jpg');">
    </div>
    <!--Inner hero-->
    <div class="inner-hero">
        <!--Container-->
        <div class="container hero-content">
            <!--Row-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="large mb-20">
                        Evelyn<br /><i class="fa-thin fa-rings-wedding"></i><br />Chun Siang
                    </h1>
                    <div class="block-date-hero">
                        <div class="circle-dashed bg-n">
                            <div class="round-circle">
                                <svg viewBox="0 0 103 103" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    class="dashed-border">
                                    <circle cx="50%" cy="50%" r="50" />
                                </svg>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <ul>
                            <li>Tying the Knot</li>
                            <li>Feb 20th, 2022</li>
                        </ul>
                    </div>
                    <p class="mt-20 lead">TungLok Xihe @ The Grandstand</p>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End container-->
    </div>
    <!--End inner hero-->
</section>
<!--End hero section-->

<section id="story" class="story pt-120 pb-120">
    <svg class=" section-dashed" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="500px" xml:space="preserve">
        <path class="dashed-line" stroke-width="1" d="M30 0 v600 400" />
    </svg>
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            <div class="col-sm-12 text-center mb-100">
                <h1 class="title">Our love story</h1>
                <p></p>
            </div>
        </div>
        <!--End row-->
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center mb-30">
                <h2 class="heavy">When Chun Siang Met Evelyn<br><span>That day changed everything</span></h2>
            </div>
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <div class="img-round">
                    <div class="img"><img class="mask" src="assets/logo_green.png" alt=""></div>
                    <svg viewBox="0 0 103 103" version="1.1" xmlns="http://www.w3.org/2000/svg" class="dashed-border">
                        <circle cx="50%" cy="50%" r="50" />
                    </svg>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row story-row mt-100 mb-100">
            <div class="circle-dashed timeline bg">
                <div class="round-circle bg before">
                    <svg viewBox="0 0 103 103" version="1.1" xmlns="http://www.w3.org/2000/svg" class="dashed-border">
                        <circle cx="50%" cy="50%" r="50" />
                    </svg>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <div class="col-sm-5 ">
                <div class="couple-story text-right">
                    <h2 class="heavy mb-10">When we first met<br><span>28 September 2012</span></h2>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="couple-story">
                    <h2 class="heavy mb-10">Our first Date<br><span>24 May 2013</span></h2>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row story-row mt-100 mb-80 ">
            <div class="circle-dashed timeline bg green">
                <div class="round-circle  green before">
                    <svg viewBox="0 0 103 103" version="1.1" xmlns="http://www.w3.org/2000/svg" class="dashed-border">
                        <circle cx="50%" cy="50%" r="50" />
                    </svg>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <div class="col-sm-5 ">
                <div class="couple-story text-right">
                    <h2 class="heavy mb-10">Our first house<br><span>10 November 2017</span></h2>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="couple-story">
                    <h2 class="heavy mb-10">The proposal<br><span>4 Aug 2020</span></h2>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <div class="img-round">
                    <div class="img"><img class="mask" src="assets/logo_purple.png" alt=""></div>
                    <svg viewBox="0 0 103 103" version="1.1" xmlns="http://www.w3.org/2000/svg" class="dashed-border">
                        <circle cx="50%" cy="50%" r="50" />
                    </svg>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center mt-30">
                <h2 class="heavy">8 years later<br><span>Counting the days...</span></h2>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--End container-->
</section>
<!--End story section-->
<!--Date section-->
<section class="date pt-150 pb-150 overlay">
    <div class="background-img" style="background: url('https://ik.imagekit.io/0sin2owk1ts/tr:w-0.4/date.jpg');">
    </div>
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            <h2 class="indent">Wedding date</h2>
            <div class="col-sm-12 text-center">
                <div class="block-content front-p">

                    <h2 class="typo">Save the date</h2>
                    <p class="lead mt-20 text-white">Sunday February 20th, 2022 - TungLok Xihe @ The Grandstand</p>
                    <span class="countdown text-white">
                        <countdown #cd [config]="timerConfig"></countdown>
                    </span>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--End date section-->
<!--Wedding section-->
<section id="wedding" class="wedding pt-120 pb-120">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            <div class="col-sm-12 text-center mb-100">
                <h1 class="title">Wedding events</h1>
            </div>
        </div>
        <!--End row-->
        <!--Row-->
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 text-center">
                <div class="block-event">
                    <div class="circle-dashed relative bg green ">
                        <div class="round-circle  green before">
                            <svg viewBox="0 0 103 103" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                class="dashed-border">
                                <circle cx="50%" cy="50%" r="50" />
                            </svg>
                            <i class="fa-solid fa-mug-tea"></i>
                        </div>
                    </div>
                    <p class="mt-30 mb-30">Tea Ceremony<span>10:30 - 11:30</span></p>
                    <p>Address<span>TungLok Xihe<br>The Grandstand</span></p>
                </div>
            </div>
            <div class="col-sm-5 text-center">
                <div class="block-event swap">
                    <div class="circle-dashed relative bg">
                        <div class="round-circle  before">
                            <svg viewBox="0 0 103 103" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                class="dashed-border">
                                <circle cx="50%" cy="50%" r="50" />
                            </svg>
                            <i class="fa-solid fa-martini-glass-citrus"></i>
                        </div>
                    </div>
                    <p class="mt-30 mb-30">Wedding Reception<span>11:30 - 03:00</span></p>
                    <p>Address<span>TungLok Xihe <br>The Grandstand</span></p>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--End wedding section-->
<!--Album section-->
<section id="album" class="album bg-grey pt-120 pb-120">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row" gallerize>
            <div *ngFor="let image of images; index as i">
                <div class="col-md-4 col-sm-4 col-xs-12 mb-30">
                    <ik-image src={{image.src}} [transformation]="transformations" class="img-fluid"
                        attr.imageSrc={{image.thumb}}></ik-image>
                </div>
            </div>
        </div>

    </div>
    <!--End container-->
</section>
<!--End album section-->
<!--Directions section-->
<section id="directions" class="accom pt-120 pb-120 ">
    <!--Container-->
    <div class="container">
        <!-- Row-->
        <div class="row">
            <div class="col-sm-12 text-center mb-100">
                <h1 class="title">Getting There</h1>
                <p>Directions</p>
            </div>
        </div>
        <!--End row-->
        <!-- Row-->
        <div class="row">
            <iframe height="400" style="border:0" loading="lazy" allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?q=tunglok%20xihe%20grandstand&key=AIzaSyCV94pJWZp3VRM2CKLylOCd5LmLLoI6nQg&zoom=17"></iframe>

            <div class="col-sm-5 col-sm-offset-1 text-center">

                <p class=" lead size-s mt-30">By Car or Cab<br>
                    200 Turf Club Road<br>
                    Free parking beside The Grandstand<br>
                </p>

                <a class="but mt-30" target="_blank"
                    href="https://grab.onelink.me/2695613898?af_dp=grab%3A%2F%2Fopen%3FdropOffAddress%3DEvelyn%2Band%2BCS%2BWedding%26dropOffLatitude%3D1.33719734933582%26dropOffLongitude%3D103.79346124533721%26screenType%3DBOOKING%26sourceID%3D%26taxiTypeId%3D302%26c%3D%26pid%3D">
                    <button pButton type="button" label="Book a Grab"
                        class="p-button-success p-button-raised"></button></a>

            </div>
            <div class="col-sm-5 text-center">
                <p class=" lead size-s mt-30 ">By Bus<br>
                    Free Shuttle Bus @ <br>
                    Botanic Gardens, Tan Kah Kee, Sixth Avenue MRT Stations
                </p>
                <a class="but mt-30" target="_blank" href="http://thegrandstand.com.sg/getting-here/by-shuttle-bus/">
                    <button pButton type="button" label="Bus Timetable" class="p-button-raised"></button></a>

            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--End directions section-->
<!--Search section-->
<section id="tablefinder" class="rsvp bg-grey pt-120 pb-120 ">
    <!--Container-->
    <div class="container">
        <div class="row vertical-align">
            <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 ">
                <h1 class="title">Table Finder</h1>
            </div>
            <div class="col-md-5 col-sm-5 ">
                <div class="block-registry">
                    Will be released closer to the wedding date!
                </div>
            </div>
        </div>
    </div>
    <!--End container-->
</section>
<!--End search section-->
<!--Just married section -->
<section class="just-married pt-200 pb-200 overlay">
    <div class="background-img"
        style="background: url('https://ik.imagekit.io/0sin2owk1ts/tr:w-0.4/just.jpg'); background-position-y: 30% !important;">
    </div>
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="block-content front-p">
                    <h2 class="typo">Just married</h2>
                    <h2 class="heavy uppercase mt-10 light">Evelyn &amp; Chun Siang</h2>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--End just married section-->
<!--Footer section -->
<footer class="footer pt-70 pb-70">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="uppercase heavy normal">
                    Fork me on <a href="https://github.com/scumbug/weddingapp" target="_blank">Github</a>! <br>
                    Wedding Photography By <a href="https://www.instagram.com/mich.yyt">@mich.yyt</a> <br>
                    Check out pixel art from <a href="https://www.instagram.com/joycif.art/"
                        target="_blank">@joycif.art</a></p>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</footer>
<!--End footer section -->