
<span class="p-fluid">
    <p-autoComplete [(ngModel)]="selectedGuest" [suggestions]="results" field="nameEn" [forceSelection]="true"
        (completeMethod)="search($event)" (onSelect)="getTable($event)" placeholder="Enter your name / phone number">
    </p-autoComplete>
</span>

<div *ngIf="selectedGuest != null || ''">

    <h2 class="text-center heavy font-bold"><br>Hello {{ selectedGuest.nameEn }}!</h2>

    <h3 class="text-center font-bold">Your table is:</h3>

    <h1 class="title font-bold text-center">{{selectedGuest.table}}</h1>

    <p-divider></p-divider>

    <h3 class="text-center heavy font-bold">Guests at table <strong>{{selectedGuest.table}}</strong><br></h3>

    <p-table [value]="guests" responsiveLayout="scroll">
        <ng-template pTemplate="body" let-guest>
            <tr>
                <td class="text-center">{{guest.nameEn}}</td>
            </tr>
        </ng-template>
    </p-table>

</div>